@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full border-2 border-transparent bg-clip-content;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.300') transparent;
  }
}